<div class="sidebar">
    <nav class="sidebar-nav sidebar-bg">
        <ul class="nav">
            <li class="nav-title">Menu</li>

            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="fas fa-home"></i> Inicio
                </a>
            </li>

            <li class="nav-title">Administración</li>

            <li class="nav-item">
                <a class="nav-link" routerLink="admin/usuarios" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="fas fa-users"></i> Usuarios
                </a>
            </li>

        </ul>
    </nav>
</div>
