<nav class="navbar page-header fixed-top shadow">

    <span class="sidebar-mobile-toggle d-lg-none mr-auto" (click)="collapseSidebar(true)">
        <i class="fas fa-bars fa-lg mr-3 mb-2"></i>
    </span>
    <span class="sidebar-toggle d-md-down-none" (click)="collapseSidebar()">
        <i class="fas fa-bars fa-lg mx-3 mb-2"></i>
    </span>
    <a routerLink="" class="navbar-brand mx-3">
        <img src="./content/assets/images/angular.png" alt="logo">
        <span>Curso de Angular</span>
    </a>

    <ul class="navbar-nav ml-auto">
        <!-- Campana para notificaciones
        <li class="nav-item d-md-down-none">
            <a href="#">
                <i class="fas fa-bell"></i>
                <span class="badge badge-pill badge-danger">5</span>
            </a>
        </li>
        -->

        <li class="nav-item dropdown">
            <a class="nav-link settings dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-2x mr-1"></i>
                <!-- Imagen del usuario
                <img src="https://vignette.wikia.nocookie.net/el-bestiario/images/6/68/Fenix.jpg/revision/latest?cb=20141017225711&path-prefix=es" class="avatar" alt="img-usuario">
                -->
                <span class="ml-2 mr-1 d-md-down-none">{{identity?.fullName}}</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header">Ajustes</div>
                <!-- <a href="#" class="dropdown-item">
                    <i class="fas fa-bell"></i> Notificaciones
                </a> -->
                <a href="#" class="dropdown-item">
                    <i class="fas fa-user-cog"></i> Cuenta
                </a>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-key"></i> Cambiar Contraseña
                </a>
                <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                </a>
            </div>
        </li>
    </ul>
</nav>
